body {
    font-family: Arial;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.fundo {
    background-color: #4A200C;
}

.fundo #login {
    background: #4A200C; 
}

.fundo #button {
    background-color: #F0ECE1; 
    color: #4C210D;
}

.fundo input{
    background: #3D1807;
}

.fundo #link {
    color: #F0ECE1 !important; /* Usamos !important para garantir que o azul suma */
    text-decoration: none;    
}

.fundo input::placeholder {
    color: #F0ECE1; 
}

.fundo label{
    color: #F0ECE1;
}

.tema {
    background-color: #F6F1E6;
}


.tema #login {
    background: #F0ECE1; 
}

.tema #button {
    background-color: #652A0E; 
    color: #FFFF;
}

.tema input{
    background: #F2EAD8;
}

.tema #link{
    color: #652A0E !important; /* Usamos !important para garantir que o azul suma */
    text-decoration: none;
}

.tema input::placeholder {
    color: #CEBF9D; 
}

.tema label{
    color: #652A0E;
}


.logo {
    display: flex;
    justify-content: center; 
    width: 100%;            

}
img {
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

#login {
    
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    justify-content: center;
    
}

.form {
    margin-bottom: 20px; 
    width: 100%;  
    margin: 15px 15px 0px 15px;;
    color: #652A0E;
}

#nome, #email, #senha, #Confirme_senha {
    margin-bottom: 7px;
   
}

label {
    padding-left: 3px;
    font-size: 13px;
    font-family: 'Inter';
}

input {
    width: 100%;
    padding: 10px; 
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Inter';
    
}

input::placeholder {
    color: #ad904d;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}

#button{
    width: 210px;
    padding: 12px;
    border-radius: 8px;
    background-color: #652A0E;
    border: none;
    font-weight: bold;
    
}

#link {
   display: flex;
   justify-content: center;
   margin-top: 13px;
   font-family: Arial;
   font-size: 14px;
}
